@keyframes right-hand-up-down {
    0% {
        transform: translate(-2px, -14px);
    }
    10% {
        transform: translate(-4px, -28px);
    }
    20% {
        transform: translate(-6px, -42px);
    }
    30% {
        transform: translate(-8px, -56px);
    }
    40% {
        transform: translate(-10px, -70px);
    }

    50% {
        transform: translate(-8px, -56px);
    }
    60% {
        transform: translate(-7px, -50px);
    }
    70% {
        transform: translate(-6px, -42px);
    }
    80% {
        transform: translate(-4px, -28px);
    }
    90% {
        transform: translate(-2px, -14px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes left-hand-up-down {
    0% {
        transform: translate(2px, -14px);
    }
    10% {
        transform: translate(4px, -28px);
    }
    20% {
        transform: translate(6px, -42px);
    }
    30% {
        transform: translate(8px, -56px);
    }
    40% {
        transform: translate(10px, -70px);
    }

    50% {
        transform: translate(8px, -56px);
    }
    60% {
        transform: translate(7px, -50px);
    }
    70% {
        transform: translate(6px, -42px);
    }
    80% {
        transform: translate(4px, -28px);
    }
    90% {
        transform: translate(2px, -14px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes right-arm-up-down {
    0% {
        transform: rotateZ(-6deg);
    }
    10% {
        transform: rotateZ(-12deg);
    }
    20% {
        transform: rotateZ(-18deg);
    }
    30% {
        transform: rotateZ(-24deg);
    }
    40% {
        transform: rotateZ(-30deg);
    }

    50% {
        transform: rotateZ(-24deg);
    }
    60% {
        transform: rotateZ(-20deg);
    }
    70% {
        transform: rotateZ(-18deg);
    }
    80% {
        transform: rotateZ(-12deg);
    }
    90% {
        transform: rotateZ(-6deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
@keyframes left-arm-up-down {
    0% {
        transform: rotateZ(6deg);
    }
    10% {
        transform: rotateZ(12deg);
    }
    20% {
        transform: rotateZ(18deg);
    }
    30% {
        transform: rotateZ(24deg);
    }
    40% {
        transform: rotateZ(30deg);
    }

    50% {
        transform: rotateZ(24deg);
    }
    60% {
        transform: rotateZ(20deg);
    }
    70% {
        transform: rotateZ(18deg);
    }
    80% {
        transform: rotateZ(12deg);
    }
    90% {
        transform: rotateZ(6deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
#right-hand {
    animation: right-hand-up-down 1s ease infinite;
}
#right-arm {
    transform-box: fill-box;
    transform-origin: 0% 50%;
    animation: right-arm-up-down 1s ease infinite;
}
#left-hand {
    animation: left-hand-up-down 1s ease infinite;
}
#left-arm {
    transform-box: fill-box;
    transform-origin: 100% 50%;
    animation: left-arm-up-down 1s ease infinite;
}
