@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply hover:underline;
    }
    .modal.active {
        @apply visible opacity-100 pointer-events-auto;
    }
    .modal-box {
        max-height: 90vh;
        overflow: auto;
    }
    .display-3 {
        @apply font-semibold text-lg;
    }
    .display-2 {
        @apply font-semibold text-xl;
    }
    .display-1 {
        @apply font-semibold text-2xl;
    }
    .label-text {
        @apply tracking-wide font-semibold;
    }
    .btn-primary {
        @apply hover:text-primary-white;
    }
    [contenteditable='true']:empty:before {
        content: attr(placeholder);
        pointer-events: none;
        display: block; /* For Firefox */
        opacity: 0.4;
    }
    /* Calendar Style */
    .react-calendar {
        @apply w-full p-1 border border-gray-400 rounded-md;
    }
    .react-calendar__navigation button {
        @apply btn duration-300 transition-colors hover:text-accent-focus focus:text-accent-focus border-2 border-current hover:border-primary-focus focus:border-primary-focus;
    }
    .react-calendar__tile {
        @apply rounded-md;
    }
    /* End of Calendar Style */
    /* Dashboard Styles */
    .dashboard-container {
        @apply p-2 flex flex-col md:flex-row justify-center align-middle items-center space-y-2 md:space-x-2 md:space-y-0;
    }
    .chart-card {
        @apply bg-gray-50 p-2 w-full rounded-md border-2 border-primary-darker flex-1;
    }
    /* End of Dashboard Styles */
}
