@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply hover:underline;
    }
    .modal.active {
        @apply visible opacity-100 pointer-events-auto;
    }
    .modal-box {
        max-height: 90vh;
        overflow: auto;
    }
    .display-3 {
        @apply font-semibold text-lg;
    }
    .display-2 {
        @apply font-semibold text-xl;
    }
    .display-1 {
        @apply font-semibold text-2xl;
    }
    .label-text {
        @apply tracking-wide font-semibold;
    }
    [contenteditable='true']:empty:before {
        content: attr(placeholder);
        pointer-events: none;
        display: block; /* For Firefox */
        opacity: 0.4;
    }
}
